@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #6a4228;
    font-family: "Nunito", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Caveat", cursive;
}
/* NAVBAR */
nav{
    background-color:#bb7d3c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.brand-navbar{
    width: 300px;
    height: 150px;
    object-fit: cover;
}
/* ASKNAME SECTION */
.askName-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100%;
    padding: 60px 10px;
    border-radius: 12px;
    background-color: #bb7e3c;
    text-align: center;
}
.askName-container img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.askName-container p{
    font-size: 1.5rem;
    color: #2e1b11;
}
.askName-container h1{
    font-size: 3.5rem;
    color: #2e1b11;
    margin-bottom: 20px;
}
.askName-container input{
    font-family: "Nunito", sans-serif;
    width: 300px;
    height: 50px;
    border-bottom: 2px solid #2e1b11;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background-color: transparent;
    padding-left: 20px;
    font-size: 20px;
    color: #2e1b11;
}
.askName-container input::placeholder{
    color: #2e1b11d6;
    font-size: 18px;
}
.askName-container input:focus{
    border: 1px solid #2e1b11;
    transition: 0.3s;
}
.askName-container button{
    font-family: "Nunito", sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #2e1b11;
    color: #d6a639;
    margin-top: 20px;
    font-size: 16px;
}
.askName-container button:hover{
    scale: 1.05;
    font-size: 18px;
    transition: 0.5s
}
/* HOME */
.home-greeting-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
    padding: 0 20px;
    text-align: center;
    color: #d6a639;
    min-height: 30vh;
}
.home-greeting-container h1{
    font-size: 4rem;
}
.home-greeting-container p{
    font-size: 1.2rem;
}
.p-no-hay-sugerencias{
    text-align: center;
    font-size: 1.2rem;
    background-color: #bb7d3c;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
}
/* SELECTOR DRINK CONTAINER */
.selector-drink-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
/* DRINK-CARD */
.drink-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 5px;
    background-color: #bb7d3c;
    border-radius: 12px;
    cursor: pointer;
}
.drink-card:hover{
    scale: 1.05;
    transition: 0.5s;
}
.drink-card.selected{
    background-color: #2e1b11;
    color: #d6a639;
}
.drink-card h2{
    font-size: 2rem;
}
.drink-card img{
    width: 125px;
    height: 130px;
    object-fit: contain;
}
/* WEATHER-CONTAINER */
.weather-container{
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    padding: 10px;
    height: 10rem;
    border: none;
    justify-content: space-around;
    align-items: center;
    background-color: #2e1b11;
    border-radius: 12px;
    color: #d6a639;
}
.weather-container h3{
    font-size: 3.2rem;
}
.weather-container p{
    font-size: 1rem;
}
.weather-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
/* SUGGESTION CONTAINER */
.not-weather{
    text-align: center;
    margin: 20px 10px;
    font-size: 1.1rem;
    background-color: #d6a639;
    color: #2e1b11;
    padding: 10px;
    border-radius: 12px;
}
.not-weather-secondary{
    display: none;
}
/* SUGGESTION-CARD */
.card-suggestion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-suggestion{
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #d6a639;
    padding: 10px 18px;
    border-radius: 12px;
}
.title-card-suggestion{
    font-family: "Caveat", cursive !important;
    font-size: 2.4rem !important;
}
.description-card{
    color: #d6a739ab;
    font-family: "Nunito", sans-serif !important;
}
.card-sugerencia{
    background-color: #2e1b11 !important;
    color: #d6a639 !important;
    margin-bottom: 20px;
    border-radius: 12px !important;
}
.card-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recipe-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 30px !important;
    margin-bottom: 10px;
}
.recipe-title{
    text-align: start;
    font-size: 1.1rem;
}
.recipe-steps{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.button-recipe{
    font-family: "Nunito", sans-serif !important;
    background-color: #d6a639 !important;
    color: #2e1b11 !important;
    padding: 7px 12px !important;
    margin-bottom: 7px !important;
}
/* LOADER-COMPONENT */
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
/* BUTTON CONTAINER */
.button-sound-container{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px;
    margin-right: 20px;
}
.btn-sound{
    padding: 12px;
    background-color: transparent;
    border: 2px solid #d6a639;
    border-radius: 50%;
    font-size: 2rem;
}